<div class="container">
  <section class="row align-items-center" id="main">
    <div class="col-lg-6 col-12">
      <h1 class="section-title section-title__landing mb-3"><i class="fa fa-plus"></i> benefícios <span
              class="d-block">para você!</span></h1>
      <p class="section-description section-description__landing">Gosta de ganhar benefícios em suas compras?</p>
      <p class="section-description section-description__landing">Então o <strong>Fidelizze</strong> é para você!</p>

      <a class="btn btn-info btn-lg mt-3 mb-5" (click)="goToLogin()">Criar conta</a>
    </div>
    <div class="col-lg-6 col-12">
      <img class="img-fluid main-image" src="./../../../assets/images/landing/benefits.svg" />
    </div>
  </section>
</div>

<div class="bg-white rounded-1" id="partners">
  <div class="container">
    <section class="row">
      <div class="col-lg-3 col-12">
        <img src="./../../../assets/images/landing/logo-bauducco.png" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-12">
        <img src="./../../../assets/images/landing/logo-starbucks.webp" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-12">
        <img src="./../../../assets/images/landing/logo-habibs.webp" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-12">
        <img src="./../../../assets/images/landing/logo-mc-donalds.png" class="img-fluid" />
      </div>
    </section>
  </div>
</div>

<div class="container">
  <section class="row align-items-center" id="main">
    <div class="col-lg-6 col-12">
      <img class="img-fluid main-image" src="./../../../assets/images/landing/corporate.svg" />
    </div>
    <div class="col-lg-6 col-12 p-lg-5 p-1">
      <h1 class="section-title section-title__landing mb-3"><i class="fas fa-users"></i> Tem uma <span
              class="d-block">empresa?</span></h1>
      <p class="section-description section-description__landing">Crie <strong>Promoções</strong> para seus e deixei-os
        sempre perto de você!</p>

      <a class="btn btn-info btn-lg mt-3" (click)="goToLogin()">Criar conta</a>
    </div>
  </section>
</div>

<div class="bg-white rounded-1" id="steps">
  <div class="container">
    <section class="row">
      <div class="col-12 text-center">
        <h1 class="section-title section-title__landing mb-5">Veja com é simples!</h1>
      </div>
      <div class="col-lg-6 col-12">


        <h2 class="section-title mb-3">Se você é cliente:</h2>
        <p class="section-description"><strong>01.</strong> Crie uma conta</p>
        <p class="section-description"><strong>02.</strong> Veja as <strong>Promoções</strong> em andamento</p>
        <p class="section-description section-description__landing"><strong>03.</strong> Escolha quantas quiser e
          participe!</p>

        <a class="btn btn-info btn-lg mt-3 mb-5">Começar já!</a>
      </div>

      <div class="col-lg-6 col-12">
        <img class="img-fluid" src="./../../../assets/images/landing/clients.svg" />
      </div>
    </section>

    <section class="row mt-5">
      <div class="col-lg-6 col-12">
        <img class="img-fluid" src="./../../../assets/images/landing/stablishments.svg" />
      </div>
      <div class="col-lg-6 col-12">

        <h2 class="section-title mb-3">Se você tem um estabelecimento:</h2>
        <p class="section-description"><strong>01.</strong> Crie uma conta</p>
        <p class="section-description"><strong>02.</strong> Crie novas <strong>Promoções</strong> para seus clientes</p>
        <p class="section-description section-description__landing"><strong>03.</strong> Divulgue em suas redes socias
        </p>

        <a class="btn btn-info btn-lg mt-3 mb-5">Começar já!</a>
      </div>
    </section>
  </div>
</div>