<nav class="navbar navbar-expand-lg navbar-dark bg-info" id="navbar-site">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fas fa-code"></i></a>

        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSite">
            <div class="me-auto">
                <app-top-menu></app-top-menu>
            </div>

            <ul class="navbar-nav w-auto">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle btn btn-light btn-rounded" href="#" id="navbarDropdown" role="button"
                        data-mdb-toggle="dropdown" aria-expanded="false">
                        Olá, Ernane
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" [routerLink]="['/perfil']"><i class="fa fa-user"></i> Meu perfil</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>