<h1 class="main-title mt-2 mb-3">{{ title }}</h1>

<section class="card p-2" *ngIf="isSearchSection">
    <div class="card-content">
        <div class="row justify-content-between">
            <form class="col-lg-4 col-12">
                <div class="input-group mb-3 mb-lg-0">
                    <input type="text" class="form-control mb-0" placeholder="Digite sua pesquisa..." />
                    <button class="btn btn-outline-info">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
            <div class="col-lg-8 col-12 d-flex justify-content-end">
                <button class="btn btn-info" [routerLink]="['/admin', 'promocao']">
                    <i class="fas fa-plus"></i> Nova Promoção
                </button>
            </div>
        </div>
    </div>
</section>

<section class="card" id="card-custom-container" [class.not-search-section]="!isSearchSection">
    <div class="card-content">
        <a *ngIf="isBackButton" (click)="back()" class="btn btn-outline-info btn-sm mb-4"><i class="fa fa-arrow-left"></i> Voltar</a>
        <ng-content></ng-content>
    </div>
</section>