<main class="row mt-4">
    <section class="col-12">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h1 class="section-title">App Fidelidade</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium aliquam eveniet quibusdam modi
                    temporibus? Amet ducimus corrupti rerum ipsam dolorum.</p>
            </div>
            <div class="col-lg-6 col-12">
                <div class="card">
                    <div class="card-content">

                        <ul class="nav nav-tabs nav-fill mb-3 p-3" id="ex1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tab-register" data-mdb-toggle="tab" href="#tabs-register"
                                    role="tab" aria-controls="tabs-register" aria-selected="true">Já tenho conta</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tab-login" data-mdb-toggle="tab" href="#tabs-login" role="tab"
                                    aria-controls="tabs-login" aria-selected="false">Quero me registrar</a>
                            </li>
                        </ul>

                        <div class="tab-content p-3">
                            <div class="tab-pane fade show active" id="tabs-register" role="tabpanel"
                                aria-labelledby="tab-register">

                                <form [formGroup]="formLogin" novalidate>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="loginEmail">E-mail *</label>
                                        <input type="email"
                                        id="loginEmail"
                                        name="loginEmail"
                                        formControlName="loginEmail"
                                        class="form-control only-border-bottom" />
                                    </div>

                                    <label class="form-label" for="loginPassword">Senha *</label>
                                    <div class="form-group input-group mb-3">
                                        <input type="password"
                                        id="loginPassword"
                                        name="loginPassword"
                                        formControlName="loginPassword"
                                        aria-describedby="pass-addon"
                                            class="form-control only-border-bottom" />
                                        <span class="input-group-text only-border-bottom" id="pass-addon">
                                            <i class="fas fa-eye"></i>
                                            <!-- <i class="fas fa-eye-slash"></i> -->
                                        </span>
                                    </div>

                                    <div class="row mb-3">
                                        <!-- <div class="col d-flex justify-content-center">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="true"
                                                    id="input-connected" />
                                                <label class="form-check-label" for="input-connected"> Mantenha-me conectado
                                                </label>
                                            </div>
                                        </div> -->
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-check"></i>
                                        Entrar</button>

                                        <div class="row">
                                            <div class="col-12 text-center mt-3">
                                                <a href="#!">Esqueceu sua senha?</a>
                                            </div>
                                        </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="tabs-login" role="tabpanel"
                                aria-labelledby="tab-login">

                                <form [formGroup]="formRegister" novalidate>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="registerName">Nome completo *</label>
                                        <input type="text"
                                        id="registerName"
                                        name="registerName"
                                        formControlName="registerName"
                                        class="form-control only-border-bottom" />
                                    </div>

                                    <div class="form-group mb-3">
                                        <label class="form-label" for="registerEmail">E-mail *</label>
                                        <input type="email" 
                                        id="registerEmail"
                                        name="registerEmail"
                                        formControlName="registerEmail"
                                        class="form-control only-border-bottom" />
                                    </div>

                                    <label class="form-label" for="registerPassword">Senha *</label>
                                    <div class="form-group input-group mb-3">
                                        <input type="password"
                                        id="registerPassword"
                                        name="registerPassword"
                                        formControlName="registerPassword"
                                        aria-describedby="pass-addon"
                                            class="form-control only-border-bottom" />
                                        <span class="input-group-text only-border-bottom" id="pass-addon">
                                            <i class="fas fa-eye"></i>
                                            <!-- <i class="fas fa-eye-slash"></i> -->
                                        </span>
                                    </div>

                                    <label class="form-label" for="registerConfirmPassword">Confirmar senha *</label>
                                    <div class="form-group input-group mb-3">
                                        <input type="password"
                                        id="registerConfirmPassword"
                                        name="registerConfirmPassword"
                                        formControlName="registerConfirmPassword" aria-describedby="confirm-pass-addon"
                                            class="form-control only-border-bottom" />
                                        <span class="input-group-text only-border-bottom" id="confirm-pass-addon">
                                            <i class="fas fa-eye"></i>
                                            <!-- <i class="fas fa-eye-slash"></i> -->
                                        </span>
                                    </div>

                                    <div class="group-radio-inline">
                                        <label class="form-label d-block" for="type">
                                            <strong>Você é: *</strong>
                                        </label>
    
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="registerType"
                                            formControlName="registerType"
                                                id="radio-client" value="C" checked />
                                            <label class="form-check-label" for="radio-client">Cliente</label>
                                        </div>
    
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="registerType"
                                            formControlName="registerType"
                                                id="radio-establishment" value="E" />
                                            <label class="form-check-label" for="radio-establishment">Estabelecimento</label>
                                        </div>
                                    </div>

                                    <button [disabled]="formRegister.invalid" (click)="submitFormRegister()" type="submit" class="btn btn-primary btn-block"><i class="fas fa-check"></i>
                                        Registrar</button>

                                    <div class="row" *ngIf="submitInfo.show && submitInfo.message !== ''">
                                        <div class="col-12">
                                            <app-status-message [message]="submitInfo.message" [type]="submitInfo.type" ></app-status-message>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>