<div class="row fixed-bottom">
    <div class="col-12 bg-light py-2 text-center">
        <p class="mb-0 mt-1 footer-description">Desenvolvido por <strong>Ernane Toledo</strong></p>
        <p class="mb-0 footer-links">
            <a class="btn btn-link btn-sm p-0" href="https://linkedin.com/in/ernanetoledo" title="Acesse meu Linkedin">
                <i class="fab fa-linkedin fa-2x text-primary"></i>
            </a>
            <a class="btn btn-link btn-sm p-0" href="https://github.com/in/ernaneaugusto" title="Acesse meu Github">
                <i class="fab fa-github fa-2x text-dark"></i>
            </a>
        </p>
    </div>
</div>