<div class="card border border-default shadow-1" style="height: 100%">
    <div class="card-body promo-item">
        <div class="group-description">
            <h3 class="promo-title">Nome da promoção 1</h3>
            <p class="card-text">Some quick exard title and make up the bulk of the
                card's content.</p>
        </div>
        <div class="btn-group-block">
            <button class="btn btn-warning"><i class="far fa-edit"></i> Editar</button>
            <button class="btn btn-danger"><i class="far fa-trash-alt"></i> Excluir</button>
        </div>
    </div>
</div>