<app-main-content [title]="promotionId.length === 0 ? 'Nova Promoção' :'Editar Promoção'"
                  [isSearchSection]="false">

  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" class="needs-validation" novalidate>
        <div class="row">
          <div class="col-lg-6 col-12 mb-4">
            <div class="form-group">
              <label class="form-label"
                     for="name">Nome da Promoção</label>
              <input type="text"
                     id="name"
                     name="name"
                     formControlName="name"
                     class="form-control only-border-bottom" />
              <div *ngIf="f.name.errors && f.name.touched" class="text-warning">Nome é obrigatório</div>
            </div>
          </div>
          <div class="col-lg-6 col-12 mb-4">
            <div class="form-group">
              <label class="form-label"
                     for="validity">Validade da Promoção dd/mm/aaaa</label>
              <input type="text"
                     id="validity"
                     name="validity"
                     formControlName="validity"
                     class="form-control only-border-bottom" />
              <div *ngIf="f.validity.errors && f.validity.touched" class="text-warning">Validade da Promoção é obrigatório</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-12 mb-4">
            <div class="form-group">
              <label class="form-label"
                     for="stars">Número de estrelas ou Valor total</label>
              <input type="number"
                     id="stars"
                     name="stars"
                     formControlName="stars"
                     class="form-control only-border-bottom" />
              <div *ngIf="f.stars.errors && f.stars.touched" class="text-warning">Número de estrelas é obrigatório</div>
            </div>
          </div>
          <div class="col-lg-6 col-12 mb-4">
            <div class="form-group">
              <label class="form-label"
                     for="starsMin">Número de estrelas ou Valor total mínimo</label>
              <input type="number"
                     id="starsMin"
                     name="starsMin"
                     formControlName="starsMin"
                     class="form-control only-border-bottom" />
              <div *ngIf="f.starsMin.errors && f.starsMin.touched" class="text-warning">Número de estrelas mínimo é obrigatório</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-12 mb-4">
            <div class="form-group">
              <label class="form-label"
                     for="category">Categoria(Lanches, Mercado, Limpeza, Higiene...)</label>
              <input type="text"
                     id="category"
                     name="category"
                     formControlName="category"
                     class="form-control only-border-bottom" />
              <div *ngIf="f.category.errors && f.category.touched" class="text-warning">Categoria é obrigatório</div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="form-group">
              <label class="form-label"
                     for="name">Produto</label>
              <select class="form-select only-border-bottom"
                     name="product"
                     formControlName="product"
                      aria-label="
                      Produto">
                <option selected
                        disabled>Produto</option>
                <option value="1">Nome Produto 1</option>
                <option value="2">Nome Produto 2</option>
                <option value="3">Nome Produto 3</option>
              </select>
              <div *ngIf="f.product.errors && f.product.touched" class="text-warning">Produto é obrigatório</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-4">
            <div class="form-group">
              <label class="form-label"
                     for="expirate">Número de estrelas ou Valor total expiram?</label>

              <div class="d-flex">
                <input type="radio"
                       class="btn-check"
                       name="expirate"
                       formControlName="expirate"
                       value="sim"
                       id="sim" />
                <label class="btn btn-info mb-2"
                       for="sim">Sim</label>

                <input type="radio"
                       class="btn-check"
                       name="expirate"
                       formControlName="expirate"
                       value="nao"
                       id="nao" />
                <label class="btn btn-info mb-2"
                       for="nao">Não</label>
              </div>
              
              <div *ngIf="f.expirate.errors && f.expirate.touched" class="text-warning">Campo é obrigatório</div>

            </div>

          </div>
          <div class="col-lg-6 col-12 mb-4">
              <div class="form-group">
              <label class="form-label"
                     for="weekDays">Dias da semana(segunda, terça, quarta...)</label>
                <input
                       type="text"
                       id="weekDays"
                       name="weekDays"
                       formControlName="weekDays"
                       class="form-control only-border-bottom" />
              <div *ngIf="f.weekDays.errors && f.weekDays.touched" class="text-warning">Dias da Semana é obrigatório</div>
              </div>
            </div>
            <div class="col-lg-6 col-12 mb-4">
              <div class="form-group">
                     <label class="form-label"
                            for="description">Breve descrição da Promoção</label>
                     <input type="text"
                            id="description"
                            name="description"
                            formControlName="description"
                            class="form-control only-border-bottom" />
                     <div *ngIf="f.description.errors && f.description.touched" class="text-warning">Descrição  é obrigatório</div>
              </div>
              <input type="hidden"
                     id="establishmentId"
                     name="establishmentId"
                     formControlName="establishmentId"/>
              <input type="hidden"
                     id="id"
                     name="id"
                     formControlName="id"/>
            </div>
          <!-- <div class="col-12 mb-5">
            <div class="form-group">
              <div>
                <label class="form-label"
                       for="expirate">Dias da semana</label>
              </div>

              <div>
                <input type="checkbox"
                       class="btn-check"
                       id="allDays" />
                <label class="btn btn-info mb-3"
                       for="allDays">Todos os dias</label>
              </div>

              <input type="checkbox"
                     class="btn-check"
                     id="day1" />
              <label class="btn btn-info mb-2"
                     for="day1">Segunda</label>

              <input type="checkbox"
                     class="btn-check"
                     id="day2" />
              <label class="btn btn-info mb-2"
                     for="day2">Terça</label>

              <input type="checkbox"
                     class="btn-check"
                     id="day3" />
              <label class="btn btn-info mb-2"
                     for="day3">Quarta</label>

              <input type="checkbox"
                     class="btn-check"
                     id="day4" />
              <label class="btn btn-info mb-2"
                     for="day4">Quinta</label>

              <input type="checkbox"
                     class="btn-check"
                     id="day5" />
              <label class="btn btn-info mb-2"
                     for="day5">Sexta</label>

              <input type="checkbox"
                     class="btn-check"
                     id="day6" />
              <label class="btn btn-info mb-2"
                     for="day6">Sábado</label>

              <input type="checkbox"
                     class="btn-check"
                     id="day7" />
              <label class="btn btn-info mb-2"
                     for="day7">Domingo</label>

            </div>

          </div> -->
        </div>

        <div class="row">
              <div class="col-12">
                     <app-status-message [message]="submitInfo.message" [type]="submitInfo.type"></app-status-message>
              </div>
        </div>

        <button class="btn btn-primary" [disabled]="form.invalid" (click)="submitForm()"><i class="fa fa-check"></i> 
              <span *ngIf="!isFlowEdit; else editFlow"> Salvar Promoção</span>
              <ng-template #editFlow>
                     <span> Atualizar Promoção</span>
              </ng-template>
       </button>

      </form>
    </div>
  </div>

</app-main-content>